.chat {
    flex: 2;
    max-width: 1000px;
    min-width: 500px;
    display: flex;
    flex-direction: column;

    .header {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;

        .user {
            display: flex;

            .avatar-user {
                img {
                    width: 70px;
                    padding: 10px;
                    border-radius: 50px;
                    object-fit: cover;
                }
            }

            .texts {
                padding: 10px 5px;
                font-weight: bold;
                display: flex;
                flex-direction: column;

                .status-icon {
                    font-size: 0.8rem;
                }

                .status-icon.online i {
                    color: green;
                    margin-right: 10px;
                }

                .status-icon.offline i {
                    color: red;
                    margin-right: 10px;
                }
            }
        }

        .icons {
            display: flex;
            gap: 10px;

            i {
                font-size: 1.25rem;
                cursor: pointer;
            }
        }
    }

    .main {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .message {
            background-color: #efefef8a;
            max-width: 70%;
            display: flex;
            width: fit-content;
            gap: 20px;
            padding: 15px;
            border-radius: 15px;

            .avatar {
                img {
                    width: 40px;
                    border-radius: 50px;
                    object-fit: cover;
                }
            }

            .textAndTime {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 10px;

                img {
                    max-width: 250px;
                    height: auto;
                    border-radius: 5px;
                    object-fit: cover;
                }

                p {
                    font-size: 0.85rem;
                    max-width: 350px;
                    word-wrap: break-word;
                    white-space: pre-wrap;
                    overflow-wrap: break-word;
                }

                span {
                    font-size: 0.75rem;
                    opacity: 0.65;
                }
            }

            &.user {
                align-self: flex-end;
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        padding: 10px 10px;
        gap: 10px;
        border-top: 1px solid #dddddd35;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }

    .icons {
        display: flex;
        gap: 5px;

        img {
            width: 25px;
            cursor: pointer;
        }
    }

    input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 20px;
        outline: none;

        &:disabled {
            background-color: #5182feb4;
            cursor: not-allowed;
        }
    }

    .emoji {
        position: relative;

        img {
            width: 25px;
            cursor: pointer;
        }

        .pickEmo {
            position: absolute;
            z-index: 100;
            bottom: 50px;
            left: 0;
        }
    }

    .sendButton {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;

        &:disabled {
            background-color: #5182feb4;
            cursor: not-allowed;
        }
    }
}